@charset "-utf-8";
body {
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    font: normal 16px arial;
}
header,
footer {
    color: white;
    text-align: center;
}
section {
    color: #043448;
    padding: 20px;
    width: 500px;
    margin: auto;
    /* teste */
    border-radius: 30px;
    background: #ffffff;
    box-shadow: -5px -5px 100px #2c5263, 5px 5px 100px #2c5465;
}
footer {
    font-style: italic;
}
